.App {
  text-align: center;
}
nav.navbar.navbar-expand-lg.navbar-dark {
  background: slateblue;
}
.menu_card{
  margin-bottom: 20px;
}
.card{
  height: 418px !important;
}
.list-group{
    place-content: center;
    flex-direction: row;
    margin: 50px 0px 20px 0px;
}
a.list-group-item.list-group-item-action {
  width: max-content;
}
a.list-group-item.list-group-item-action {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 5px;
}